@import "../settings/settings";

form {
	.field-group {
		margin-bottom: 1em;

		label{
			display: block;
			margin-bottom: .5em;
			font-weight: bold;
		}

		input:not([class^="btn"]),
		textarea {
			border: 1px solid $field-border-color;
			padding: .75em;

			&:focus,
			&:hover {
				border-color: darken($field-border-color, 15%);
				outline: none;
			}

			&.field-full {
				width:100%
			}
		}

		.help {
			@extend small;
			margin: .5em 0 0;
			color: $muted-text-color;
			font-style: italic;
		}

		&.field-error {
			label, 
			.help,
			input {
				color: $field-error-color;
				border-color: lighten($field-error-color, 40%);
			}
		}
	}

	.required {
		color: $field-error-color;
	}
}