@import '../settings/settings';

/*
  *--------------------------------------------------------------------------------------------------
  * 1.0 - Grid
  *--------------------------------------------------------------------------------------------------
*/


/* Main Container */
.container {
	width: 95%;
	margin: 0 auto;
}

/* Columns */
[class^="col-"] {
	float: left;
	padding: 0 $gutter;
}

/* Row */
.row {
	margin-left: -$gutter;
	margin-right: -$gutter;
	
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.row-flush {
	margin-left: 0;
	margin-right: 0;
	
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

/* Column Width */
@for $i from 1 through $column-count {
	.col-#{$i} {
		width: (100 / $column-count ) * $i * 1%;
	}
}

/* Special classes */
.col-third {
	width: (100 / 3) * 1%;
}

.col-two-thirds {
	width: (100 / 3) * 2%;
}

.col-half {
	width: (100 / 2) * 1%;
}

.col-quarter {
	width: (100 / 4) * 1%; 
}

.col-three-quarters {
	width: (100 / 4) * 3%;
}

.flush {
	padding: 0;
}

.end {
	float: right;
}

.center {
	float: none;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

/* Push and Pull */
@if $push == true {
	@for $i from 1 through $column-count {
		.push-#{$i} {
			position: relative;
			left: (100 / $column-count ) * $i * 1%;
		}
		.pull-#{$i} {
			position: relative;
			right: (100 / $column-count ) * $i * 1%;
		}
	}
}

/* Responsive */
@media (max-width: $medium) {
	[class^="col-"] {
		padding: 0 $gutter / 2;
	}

	.row {
		margin-left: -$gutter / 2;
		margin-right: -$gutter / 2;
	}

	.row-flush {
		margin-left: 0;
		margin-right: 0;
	}

	.flush {
		padding: 0;
	}
}

@media (max-width: $small) {
	[class^="col-"] {
		width: 100%;
	}
	
@if $push == true {
	@for $i from 1 through $column-count {
		.push-#{$i} {
			position: static;
		}
		.pull-#{$i} {
			position: static;
		}
	}
}

	@if $small-grid == true {
		[class^="small-"] {
		float: left;
		padding: 0 $gutter;
		}

		@for $i from 1 through $column-count {
			.small-#{$i} {
				width: (100 / $column-count ) * $i * 1%;
			}
		}

		/* Special classes */
		.small-third {
			width: (100 / 3) * 1%;
		}

		.small-two-thirds {
			width: (100 / 3) * 2%;
		}

		.small-half {
			width: (100 / 2) * 1%;
		}

		.small-quarter {
			width: (100 / 4) * 1%; 
		}

		.small-three-quarters {
			width: (100 / 4) * 3%;
		}
	}
}

